.Header {
  background-image: url(../images/backgrounds/landing.jpg);
  height: 636px;
  text-align: left;
  color: white;
  padding-left: 50px;
}

.logo {
  text-align: center;
  font-style: normal;
  font-size: 26px;
  padding: 150px;
  color: white;
  margin: 0px;
}

body {
    margin: 0;
    font-family: 'Roboto+Slab', sans-serif;
    font-size: 14px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F15A29;
    background-color: #F15A29;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.col-md-3 {
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 0px;
  padding: 0px;
  margin: 0px;
}

#hh {
  background-color: white;
  text-align: center;
  color: black;
  padding: 40px;
  cursor: pointer;
}

#pt {
  background-color: #F15B29;
  text-align: center;
  color: white;
  padding: 45px;
  cursor: pointer;
}

#bF {
  background-image: url(../images/foodtop/breakfast.jpg);
  text-align: center;
  color: white;
  padding: 100px;
  margin: 0px;
  cursor: pointer;
  background-size: cover;
}

#lh {
  background-image: url(../images/foodtop/lunch.jpg);
  text-align: center;
  color: white;
  padding: 100px;
  margin-top: 0px;
  background-size: cover;
  cursor: pointer;
}

#dnn {
  background-image: url(../images/foodtop/dinner.jpg);
  text-align: center;
  color: white;
  padding: 100px;
  margin-top: 0px;
  background-size: cover;
  cursor: pointer;
}

.horizlist {
  display: block;
  height: 380px;
  width: 380px;
  margin-top: 0px;
}

.fastFood {
  float: left;
  width: 50px;
  padding-right: 40px;
  margin-left: 200px;
}

#box {
  box-shadow: 5px 5px 5px  #d8d6d6;
  width: 380px;
  height: 380px;
  border: 1px;
}

.delicious {
  float: right;
  text-align: left;
  padding-left: 50px;
  margin-right: 200px;
}


.water {
  float: right;
  text-align: left;
  padding-left: 20px;
  margin-right: 200px;
}

#shadow {
  box-shadow: 5px 5px 5px  #d8d6d6;
  width: 380px;
  height: 380px;
  border: 1px;
}

.drink {
  float: right;
  text-align: right;
  padding-left: 20px;
  margin-left: 200px;
}

.gallerybtn {
  color: #F15B29;
  text-align: left;
  border-color: #F15B29;
}

.gallarybtn {
  color: #F15B29;
  text-align: right;
  border-color: #F15B29;
}

.about {
  padding: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  margin: 80px;
}

.tomato {
  background-image: url(../images/backgrounds/subscribe.jpg);
  height: 301px;
  text-align: center;
  color: #f4f4f4;
  font-size: 24px;
  padding: 120px;
}

#burger {
  text-align: center;
  background-image: url(../images/backgrounds/foodsBg.jpg);
  height: 599px;
  padding: 50px;
  color: white;
}

.optionbackground {
  background-color: white;
  margin: 5% 5% 5% 5%;
  text-align: center;
}

.optionbackground .col-md-3 {
  background-color: #E3E3E3;
  color: #AEAEAE;
  padding: 0;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.optionbackground .active {
  background-color: white;
  color: #F15B29;
  border-bottom: none;
}

.optionbackground .col-md-3 :hover:not(.active) {
  background-color: white;
  cursor: pointer;

}

.optionbackground h3 {
  font-weight: bold;
  margin: 0;
  padding: 5% 0 5% 0;
}

.optionbackground p {
  font-size: 120%;
  color: #F15B29;
  padding-top: 5px;
}

.optionbackground .col-md-4 {
  padding: 5% 10% 5% 10%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
}

#leftarrow {
  padding-left: 10px;
}

#rightarrow {
  padding-right: 10px;
}

#chicken {
  padding: 5px;
  padding-left: 50px;
  margin: 0px;
  padding-right: 5px;
}

#beef {
  padding: 5px;
  padding-left: 5px;
  margin: 0px;
  padding-right: 5px;
}

#pizza {
  padding: 5px;
  padding-left: 5px;
  margin: 0px;
  padding-right: 50px;
}

#customers {
  border-right: 1px solid;
  border-color: #e8e5e5;
}

#headcolor {
  color: #F15B29;
}

#menucolor {
  color: #F15B29;
}

.emailbtn {
  width: 280px;
  opacity: 0.3;
  text-align: left;
}

.subsbtn {
  width: 180px;
  border-color: #F15B29;
  background-color: #F15B29;
}

.part7 {
  background-color: #F15B29;
  height: 350px;
  text-align: center;
  color: white;
}

.part7 .container {
  width: 50%;
  padding: 2% 0 0 0;
}

.part7 .container h2 {
  margin-bottom: 2%;
  font-size: 200%;
}

.part7 .container h4 {
  margin-bottom: 3%;
  font-size: 150%;
}

#footer {
  padding-right: 10px;
}

#part71img {
  background-image: url(../images/footerlogos/facebook.png);
  background-repeat: no-repeat;
  padding: 20px;
  margin: 2px 2px 2px 2px;
}

#part72img {
  background-image: url(../images/footerlogos/twitter.png);
  background-repeat: no-repeat;
  padding: 20px;
  margin: 2px 2px 2px 2px;
}

#part73img {
  background-image: url(../images/footerlogos/pinterest.png);
  background-repeat: no-repeat;
  padding: 20px;
  margin: 2px 2px 2px 2px;
}

.fb {
  text-align: center;
  padding: 100px;
  margin: 2px 2px 2px 2px;
}

.tw {
  text-align: center;
  padding: 100px;
  margin: 2px 2px 2px 2px;
}

.pin {
  text-align: center;
  padding: 100px;
  margin: 2px 2px 2px 2px;
  object-position: center;
}
